@charset "utf-8";

html {
	PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; 
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif, "宋体";
}

IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}

FORM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
	MARGIN: 0px;
}

TABLE {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; 
	PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, Sans-Serif, "宋体";
}

A {
	COLOR: #4481a2; 
	TEXT-DECORATION: none;
}

A:link {
	COLOR: #4481a2; 
}

A:visited {
	COLOR: #4481a2;
}

A:hover {
	COLOR: #4481a2;
	TEXT-DECORATION: underline;
}

A:active {
	COLOR: #4481a2;
}

LI {
	OVERFLOW: hidden; LINE-HEIGHT: 20px
}

.usertoolbar {
	background-image: url(../img/usertoolbar_bg.png);
	background-repeat: repeat-x;
	margin: 0px;
	height: 30px;
	width: 100%;
}

.usertoolbar_center {
	height: 30px;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.usertoolbar_addtofavorite {
	height: 30px;
	width: 180px;
	line-height: 30px;
	float: left;
	text-align: right;
	color: #FFF;
	background-image: url(../img/icon_addtofavorite.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.usertoolbar_addtofavorite A {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.usertoolbar_addtofavorite A:link {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.usertoolbar_addtofavorite A:visited {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.usertoolbar_addtofavorite A:hover {
	color: #FFF;
	TEXT-DECORATION: underline;	
}

.usertoolbar_addtofavorite A:actice {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.usertoolbar_info {
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 30px;
	float: right;
	text-align: left;
	color: #FFF;
}

.usertoolbar_info A {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.usertoolbar_info A:link {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.usertoolbar_info A:visited {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.usertoolbar_info A:hover {
	color: #FFF;
	TEXT-DECORATION: underline;	
}

.usertoolbar_info A:actice {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.logoandmenubar {
	height: 105px;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.logo {
	height: 105px;
	width: 370px;
	float: left;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.menubar {
	height: 105px;
	width: 605px;
	float: right;
}

.menuitemline {
	height: 40px;
	width: 605px;
	margin-top: 55px;
}

.menuitem {
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	FONT-FAMILY: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	float: right;
}

.menuitem A {
	color: #FFF;
	TEXT-DECORATION: none;	
}

.menuitem A:link {
	color: #FFF;
	TEXT-DECORATION: none;
}

.menuitem A:visited {
	color: #FFF;
	TEXT-DECORATION: none;
}

.menuitem A:hover {
	color: #FFF;
	TEXT-DECORATION: underline;
}

.menuitem A:active {
	color: #FFF;
	TEXT-DECORATION: none;
}

.menuitem_sepa {
	height: 40px;
	width: 10px;
	float: right;
	background-image: url(../img/menu_sepa.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.index_bottom_blank {
	height: 10px;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
}

.index_bottom_transparent {
	height: 10px;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.index_bottom_help {
	height: 180px;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
}

.index_bottom_help_innerframe {
	height: 170px;
	width: 955px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #f7f7f7;
	border: #e6e6e6 1px solid;
}

.index_bottom_help_block {
	width: 150px;
	height: 170px;
	margin-right: 11px;
	margin-left: 30px;
	float: left;
}

.index_bottom_help_block_title01 {
	width: 150px;
	height: 55px;
	line-height: 55px;
	FONT-FAMILY: "微软雅黑", "幼圆";
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding-left: 40px;
	background-image: url(../img/icon_help_01.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.index_bottom_help_block_item {
	width: 150px;
	height: 25px;
	line-height: 25px;
	text-align: left;
}

.index_bottom_help_block_item A {
	COLOR: #666666;
}

.index_bottom_copyrightbar {
	background-image: url(../img/copyrightbar_bg.gif);
	background-repeat: repeat-x;
	margin: 0px;
	height: 98px;
	width: 975px;  /*100%*/
	margin-right: auto;
	margin-left: auto;
}

.index_bottom_copyright_area {
	height: 75px;
	width: 975px;
	line-height: 25px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.index_bottom_copyright_area A {
	COLOR: #666666; 
}

.fx,.inner_form_commonbar{zoom:1}
.fx:after,.inner_form_commonbar{content:'';display:block;clear:both;overflow:hidden}