@charset "utf-8";

body {
	background-color: #f3f3f3;
	background-image: url(../img/body_bg.gif);
	background-repeat: repeat-x;
	
	margin: 0px;
	padding: 0px;
}

.index_top {
	margin: 0px;
	height: 430px;
	width: 100%;
	background-image: url(../img/index_top_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.slideandlogin {
	height: 280px;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.index_slide {
	height: 280px;
	width: 705px;
	float: left;
	background-image: url(../img/index_slide_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.index_slide_area {
	height: 270px;
	width: 695px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}

.index_login {
	height: 280px;
	width: 270px;
	float: right;
	background-image: url(../img/index_login_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.index_loggedin_userblock {
	width: 228px;
	height: 153px;  /*原先是85，以后待修改*/
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;	
	overflow: hidden;	
}

.index_loggedin_userblock_nameinfoandicon {
	width: 228px;
	height: 60px;
}

.index_loggedin_userblock_nameinfo {
	width: 158px;
	height: 60px;
	float: left;
}

.index_loggedin_userblock_icon {
	width: 70px;
	height: 60px;
	float: right;
}

.index_loggedin_userblock_name {
	width: 158px;
	height: 20px;
	font-size: 14px;
	text-align: left;
}

.index_loggedin_userblock_info {
	width: 158px;
	height: 20px;
	line-height: 20px;
	text-align: left;
}

.index_loggedin_userblock_functions {
	width: 228px;
	height: 55px;
}

.index_loggedin_userblock_functionblock {
	width: 60px;
	height: 55px;
	line-height: 25px;
	float: left;
	text-align: left;
	padding-left: 5px;
	border-left: #ffffff 1px solid;
}

.index_loggedin_userblock_functionblock A{
	text-decoration: none;
}

.index_loggedin_userblock_functionblock_digi {
	font-size: 16px;
	font-weight: bold;
}

.index_loggedin_userblock_links {
	width: 228px;
	height: 40px;	
	text-align: left;
}

.index_loggedin_userblock_links_addactivity {
	width: 60px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	background-image: url(../img/icon_addactivity.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	overflow: hidden;
}

.index_login_username {
	height: 31px;
	width: 228px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 26px;
	background-image: url(../img/login_inputtext_bg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 5px;
	overflow: hidden;
}

.index_login_password {
	height: 31px;
	width: 228px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	background-image: url(../img/login_inputtext_bg.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 5px;
	overflow: hidden;
}

.index_input {
	width: 220px;
	height: 25px;
	font-size: 12px;
	border: none;
	color: #b1b1b1;
	outline:none;
}

.index_loginbtn {
	width: 100px;
	height: 27px;
	display:block;
	background:transparent url(../img/btn_login.gif) no-repeat;
	cursor:pointer;
	border: none;
}

.index_login_rememberme {
	width: 228px;
	height: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	text-align: left;
}

.index_login_rememberme_checkbox {
	width: 22px;
	height: 25px;
	text-align: left;
	float: left;
}

.index_login_rememberme_text {
	width: 200px;
	height: 25px;
	line-height: 16px;
	text-align: left;
	float: left;
}

.index_login_buttonbar {
	width: 228px;
	height: 35px;
	margin-right: auto;
	margin-left: auto;
}

.index_login_button {
	width: 100px;
	height: 35px;
	float: left;
}

.index_login_reglinks {
	width: 128px;
	height: 35px;
	float: left;
	line-height: 35px;
}

.index_login_weatherbar {
	width: 228px;
	height: 82px;  /*原先是85，以后待修改*/
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;	
	overflow: hidden;
}

.index_body {
	height: 1006px;
	width: 975px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../img/index_body_bg.gif);
	background-repeat: repeat-y;
}

.index_body_left {
	width: 695px;
	margin-left: 5px;
	float: left;
}

.index_body_left_categorybar {
	height: 43px;
	width: 695px;
	POSITION: relative;
}

.index_body_left_categorybar_flagbanner {
	WIDTH: 179px;
	HEIGHT: 43px;
	POSITION: absolute;
	Z-INDEX: 1;
	BACKGROUND-IMAGE: url(../img/flagbanner_bg.png);
	BACKGROUND-REPEAT: no-repeat;
	LEFT: -15px;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	padding-top: 14px;
}

.index_body_left_categorybar_more {
	WIDTH: 60px;
	HEIGHT: 43px;
	LINE-HEIGHT: 43px;
	POSITION: absolute;
	Z-INDEX: 2;
	BACKGROUND-IMAGE: url(../img/more_array.gif);
	BACKGROUND-REPEAT: no-repeat;
	background-position: LEFT CENTER;
	right: 0px;
	text-align: left;
	padding-left: 12px;
	color: #4481a2;
}

.index_body_left_huodong {
	WIDTH: 695px;
	HEIGHT: 280px;	
}

.index_body_left_huodong_block {
	WIDTH: 347px;
	HEIGHT: 130px;
	margin-top: 10px;
	float: left;
}

.index_body_left_huodong_title {
	WIDTH: 300px;
	HEIGHT: 25px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_left_huodong_iconandcontent {
	WIDTH: 300px;
	HEIGHT: 90px;
	margin-left: auto;
	margin-right: auto;
}

.index_body_left_huodong_icon {
	WIDTH: 60px;
	HEIGHT: 90px;
	text-align: left;
	float: left;
}

.index_body_left_huodong_icon img{
	margin-top: 6px;
}

.index_body_left_huodong_content {
	WIDTH: 240px;
	HEIGHT: 90px;
	float: right;
}

.index_body_left_huodong_content_text {
	WIDTH: 240px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_left_huodong_content_links {
	WIDTH: 240px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
}

.index_body_left_huodong_content_links A{
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.index_body_left_huodong_content_links A:link {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.index_body_left_huodong_content_links A:visited {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.index_body_left_huodong_content_links A:hover {
	color: #FFF;
	background-color: #4481a2;
	TEXT-DECORATION: none;
}

.index_body_left_huodong_content_links A:active {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}


.index_body_left_changdi {
	WIDTH: 695px;
	HEIGHT: 330px;	
}

.index_body_left_changdi_block {
	WIDTH: 347px;
	HEIGHT: 155px;
	margin-top: 10px;
	float: left;
}

.index_body_left_changdi_title {
	WIDTH: 300px;
	HEIGHT: 25px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_left_changdi_iconandcontent {
	WIDTH: 300px;
	HEIGHT: 115px;
	margin-left: auto;
	margin-right: auto;
}

.index_body_left_changdi_icon {
	WIDTH: 60px;
	HEIGHT: 115px;
	text-align: left;
	float: left;
}

.index_body_left_changdi_icon img{
	margin-top: 6px;
}

.index_body_left_changdi_content {
	WIDTH: 240px;
	HEIGHT: 115px;
	float: right;
}

.index_body_left_changdi_content_text {
	WIDTH: 240px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_left_changdi_content_intro {
	WIDTH: 240px;
	HEIGHT: 45px;
	line-height: 22px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
}

.index_body_left_changdi_content_links {
	WIDTH: 240px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
}

.index_body_left_changdi_content_links A{
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.index_body_left_changdi_content_links A:link {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.index_body_left_changdi_content_links A:visited {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.index_body_left_changdi_content_links A:hover {
	color: #FFF;
	background-color: #4481a2;
	TEXT-DECORATION: none;
}

.index_body_left_changdi_content_links A:active {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.index_adbanner_695_080 {
	WIDTH: 695px;
	HEIGHT: 80px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.index_body_left_xiaotieshi {
	WIDTH: 695px;
	HEIGHT: 220px;	
}

.index_body_left_xiaotieshi_top {
	WIDTH: 660px;
	HEIGHT: 29px;	
	margin-right: auto;
	margin-left: auto;
	text-align:left;
	background-image: url(../img/xiaotieshi_top.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.index_body_left_xiaotieshi_top_bannertext {
	width: 65px;
	HEIGHT: 27px;
	margin-left: 20px;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	background-color: #FFF;
	display:inline;
}

.index_body_left_xiaotieshi_body {
	WIDTH: 660px;
	HEIGHT: 162px;	
	margin-right: auto;
	margin-left: auto;
	background-image: url(../img/xiaotieshi_body_bg.gif);
	background-repeat: repeat-y;
	background-position: center center;
}

.index_body_left_xiaotieshi_line {
	WIDTH: 600px;
	HEIGHT: 27px;
	margin-right: auto;
	margin-left: auto;
}

.index_body_left_xiaotieshi_category {
	width: 60px;
	HEIGHT: 27px;
	line-HEIGHT: 27px;
	font-weight: bold;
	float: left;
}

.index_body_left_xiaotieshi_category A{
	color: #666666;
	TEXT-DECORATION: none;
}

.index_body_left_xiaotieshi_category A:hover{
	color: #4481a2;
	TEXT-DECORATION: none;
}

.index_body_left_xiaotieshi_item {
	width: 236px;
	HEIGHT: 27px;
	padding-left:24px;
	line-HEIGHT: 27px;
	text-align: left;
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_left_xiaotieshi_item A{
	color: #666666;
	TEXT-DECORATION: none;
}

.index_body_left_xiaotieshi_item A:hover{
	color: #4481a2;
	TEXT-DECORATION: underline;
}

.index_body_left_xiaotieshi_bottom {
	WIDTH: 660px;
	HEIGHT: 29px;
	margin-right: auto;
	margin-left: auto;	
	background-image: url(../img/xiaotieshi_bottom.gif);
	background-repeat: no-repeat;
	background-position: center center;
}


.index_body_right {
	width: 260px;
	margin-right: 5px;
	float: right;
}

.index_body_right_feedbar {
	width: 260px;
	height: 45px;
	line-height: 45px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon_feed.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.index_body_right_feed {
	width: 260px;
	height: 300px;
	overflow: hidden;
}

.index_body_right_feedline {
	width: 260px;
	height: 100px;
}

.index_body_right_feedline_icon {
	width: 70px;
	height: 100px;
	float: left;
}

.index_body_right_feedline_icon img{
	margin-top: 6px;
}

.index_body_right_feedline_text {
	width: 190px;
	height: 100px;
	float: left;
	text-align: left;
	line-height: 24px;
	overflow: hidden;
}

.index_body_right_feedline_time {
	color: #b1b1b1;
}

.index_body_right_commentbar {
	width: 260px;
	height: 45px;
	line-height: 45px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon_comment.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.index_body_right_comment {
	width: 260px;
	height: 240px;
	overflow: hidden;
}

.index_body_right_commentswitch {
	width: 260px;
	height: 25px;
	border-bottom: #e3e3e3 1px solid;
}

.index_body_right_commentswitch_on {
	width: 50px;
	height: 25px;
	line-height: 25px;
	float: left;
	background-repeat: no-repeat;
	background-position: left center;
	border-right: #e3e3e3 1px solid;
	background-color: #ececec;
	cursor:pointer;
}

.index_body_right_commentswitch_on A{
	color: #666666;
}

.index_body_right_commentswitch_off {
	width: 50px;
	height: 25px;
	line-height: 25px;
	float: left;
	background-repeat: no-repeat;
	background-position: left center;
	border-right: #e3e3e3 1px solid;
	cursor:pointer;
}

.index_body_right_commentswitch_off A{
	color: #666666;
}

.index_body_right_commentline {
	width: 260px;
	height: 80px;
}

.index_body_right_commentline_icon {
	width: 70px;
	height: 80px;
	float: left;
}

.index_body_right_commentline_icon img{
	margin-top: 6px;
}

.index_body_right_commentline_text {
	width: 190px;
	height: 80px;
	float: left;
	text-align: left;
	line-height: 25px;
	overflow: hidden;
}

.index_body_right_commentline_time {
	color: #b1b1b1;
}

.index_body_right_comment_hidden {
	display: none;
}

.index_body_right_topmemberbar {
	width: 260px;
	height: 5px;
	border-bottom: #e3e3e3 1px solid;
}

.index_body_right_topmember {
	width: 260px;
	height: 120px;
}

.index_body_right_topmembertitle {
	width: 260px;
	height: 40px;
	line-height: 40px;
	background-image: url(../img/topusertitle_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.index_body_right_topmemberrank {
	width: 230px;
	height: 25px;
	line-height: 25px;
	border-bottom: #d8f1f6 1px solid;
	margin-left: auto;
	margin-right: auto;
}

.index_body_right_topmemberrank_icon_01 {
	width: 30px;
	height: 25px;
	line-height: 25px;
	float: left;
	background-image: url(../img/rank_01.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.index_body_right_topmemberrank_icon_02 {
	width: 30px;
	height: 25px;
	line-height: 25px;
	float: left;
	background-image: url(../img/rank_02.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.index_body_right_topmemberrank_icon_03 {
	width: 30px;
	height: 25px;
	line-height: 25px;
	float: left;
	background-image: url(../img/rank_03.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.index_body_right_topmemberrank_username {
	width: 95px;
	height: 25px;
	line-height: 25px;
	float: left;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_right_topmemberrank_text01 {
	width: 52px;
	height: 25px;
	line-height: 25px;
	float: left;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.index_body_right_topmemberrank_ranknumber {
	width: 35px;
	height: 25px;
	line-height: 25px;
	float: left;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_right_topmemberrank_text02 {
	width: 18px;
	height: 25px;
	line-height: 25px;
	float: left;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.index_body_right_peoplebar {
	width: 260px;
	height: 45px;
	line-height: 45px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon_people.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.index_body_right_people {
	width: 240px;
	height: 170px;
	line-height: 24px;
	text-align: left;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
}

.index_body_right_people img{
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 6px;
	margin-bottom: 5px;
}
