@charset "utf-8";

body {
	background-color: #f3f3f3;
	background-image: url(../img/innerbody_bg.gif);
	background-repeat: repeat-x;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.inner_top {
	margin: 0px;
	height: 135px;
	width: 100%;
	background-image: url(../img/index_top_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.inner_body {
	width: 975px;
	/*height: 500px;*/
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
	min-height: 100px;
}

.inner_content {
	width: 975px;
	overflow:auto;
}

.inner_content_left {
	width: 690px;
	margin-left: 10px;
	float: left;
}

.inner_content_right {
	width: 255px;
	margin-right: 10px;
	float: right;
}

.workflow {
	width: 690px;
	height: 50px;
	border: 1px solid #bbbbbb;
	background-color: #fbfbfb;
}

.keyselections {
	width: 688px;
	background-color: #f7f7f7;
	border: #e6e6e6 1px solid;
}

.keyselections_line {
	width: 680px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px dashed #e4e4e4;
	overflow: auto;
}

.keyselections_text {
	width: 60px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	float: left;
}

.keyselections_content {
	width: 620px;
	line-height: 25px;
	text-align: left;
	float: right;
}

.keyselections_content A {
	margin-right: 10px;
	TEXT-DECORATION: none;
}

.keyselections_content A:link {
	TEXT-DECORATION: none;
}

.keyselections_content A:visited {
	TEXT-DECORATION: none;
}

.keyselections_content A:hover {
	color: #FFF;
	background-color: #4481a2;
	TEXT-DECORATION: none;
}

.keyselections_content A:active {
	TEXT-DECORATION: none;
}

.keyselections_content_on{
	background-color: #4481a2;
}

.keyselection_input {
	WIDTH: 220px;
	height: 18px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER: #bbbbbb 1px solid;
	outline:none;
}

.keyselection_btn {
	WIDTH: 40px;
	height: 22px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	BORDER: #bbbbbb 1px solid;
	outline:none;
}

.inner_content_left_bar {
	width: 690px;
	height: 45px;
	border-bottom: #e3e3e3 2px solid;
}

.inner_content_left_bar_title {
	width: 500px;
	height: 45px;
	line-height: 45px;
	text-align: left;
	float: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.inner_content_left_bar_more {
	width: 80px;
	height: 45px;
	line-height: 45px;
	text-align: right;
	float: right;
	color: #4481a2;
	BACKGROUND-REPEAT: no-repeat;
	background-position: LEFT CENTER;
}

.inner_content_left_subbar {
	height: 30px;
	border-bottom: #e3e3e3 1px solid;
}

.inner_content_left_subbar_title {
	height: 30px;
	line-height: 30px;
	text-align: left;
	float: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 14px;
	color: #000;
}

.inner_content_left_subbar_more {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	float: right;
	color: #4481a2;
	BACKGROUND-REPEAT: no-repeat;
	background-position: LEFT CENTER;
}

.inner_content_left_content {
	min-height: 20px;
	line-height: 25px;
	text-align: left;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 5px;
	overflow: auto;
}

.inner_content_left_maincontentline {
	width: 690px;
	margin-top: 25px;
	border-bottom: #e3e3e3 1px solid;
	overflow: auto;
}

.inner_content_left_pagescroller {
	width: 690px;
	height: 30px;
	margin-top: 15px;
}

.inner_content_left_pagescroller A {
	color: #666666;
	padding: 5px;
	margin: 1px;
	border: #e3e3e3 1px solid;
	TEXT-DECORATION: none;
}

.inner_content_left_pagescroller A:hover {
	color: #666666;
	padding: 5px;
	margin: 1px;
	border: #e3e3e3 1px solid;
	TEXT-DECORATION: none;
	background-color: #f3f3f3;
}

.inner_content_left_pageon{
	background-color: #f3f3f3;
}

.inner_input {
	WIDTH: 220px;
	height: 16px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid;
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 5px;
	outline:none;
}

.inner_input_short {
	WIDTH: 50px;
	height: 16px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid; 
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 5px;
	outline:none;
}

.inner_textarea {
	WIDTH: 680px;
	height: 80px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid; 
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	outline:none;
}

.inner_btn {
	WIDTH: 100px;
	height: 24px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	BORDER: #bbbbbb 1px solid;
	outline:none;
}

.verifycode_img {
	border: 1px solid #bbbbbb;
	width: 80px;
	height: 26px;
	float: left;
	margin-left: 10px;
}

.inner_adbanner_690_080 {
	WIDTH: 690px;
	HEIGHT: 80px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.inner_form_commonbar {
	width: 680px;
	margin-top: 10px;
	/*overflow: auto;*/
}

.inner_form_commonbar_text {
	width: 100px;
	height: 31px;
	line-height: 31px;
	float: left;
	text-align: right;
	font-size: 14px;
	margin-right: 10px;
}

.inner_form_commonbar_formelement {
	width: 570px;
	height: 31px;
	line-height: 31px;
	float: left;
	text-align: left;
}

.inner_form_commonbar_formelement_noheightcontrol {
	width: 570px;
	float: left;
	text-align: left;
	overflow: auto;
}

.inner_title_sepaline {
	width: 690px;
	height: 1px;
	border-bottom: #e3e3e3 2px solid;
}

.inner_subtitle_sepaline {
	width: 690px;
	height: 1px;
	border-bottom: #e3e3e3 1px solid;
}

.inner_fileupload {
	WIDTH: 300px;
	height: 26px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid;
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	outline:none;
}

.inner_input_s1 {
	WIDTH: 550px;
	height: 16px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid;
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 5px;
	outline:none;
}

.inner_input_s2 {
	WIDTH: 300px;
	height: 16px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid;
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 5px;
	outline:none;
}

.inner_input_s3 {
	WIDTH: 100px;
	height: 16px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid;
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 5px;
	outline:none;
}

.inner_input_s4 {
	WIDTH: 50px;
	height: 16px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid;
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 5px;
	outline:none;
}

.inner_select {
	outline:none;
	height: 25px;
}

.inner_textarea_s1 {
	WIDTH: 550px;
	height: 100px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid; 
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	outline:none;
}


.inner_textarea_s2 {
	WIDTH: 550px;
	height: 300px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BORDER-BOTTOM: #bbbbbb 1px solid;
	BORDER-LEFT: #bbbbbb 1px solid; 
	BORDER-TOP: #bbbbbb 1px solid;
	BORDER-RIGHT: #bbbbbb 1px solid;
	outline:none;
}

/*消息通知*/
/*登陆页*/
.inform_title_ok {
	width: 900px;
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_ok.png);
	background-repeat: no-repeat;
	background-position: left center;	
}

.inform_title_attention {
	width: 900px;
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_attention.png);
	background-repeat: no-repeat;
	background-position: left center;	
}

.inform_email_ok {
	width: 900px;
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_emailok.png);
	background-repeat: no-repeat;
	background-position: left center;	
}

/*登陆页*/
.login_title {
	width: 900px;
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_login.png);
	background-repeat: no-repeat;
	background-position: left center;	
}

.login_area {
	width: 900px;
	height: 320px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.login_area_left {
	width: 590px;
	height: 300px;
	float: left;
	border-right: #e6e6e6 1px solid;
}

.login_area_commonbar {
	width: 590px;
	height: 31px;
	margin-top: 10px;
}

.login_area_commonbar_text {
	width: 60px;
	height: 31px;
	line-height: 31px;
	float: left;
	text-align: right;
	font-size: 14px;
	margin-right: 10px;
}

.login_area_commonbar_formelement {
	width: 500px;
	height: 31px;
	line-height: 31px;
	float: left;
	text-align: left;
}

.inner_login_rememberme_checkbox {
	width: 22px;
	height: 25px;
	text-align: left;
	float: left;
}

.inner_login_rememberme_text {
	width: 200px;
	height: 25px;
	line-height: 16px;
	text-align: left;
	float: left;
}

.inner_login_loginbtn {
	width: 100px;
	height: 27px;
	background:transparent url(../img/btn_login.gif) no-repeat;
	border: none;
}

.login_area_right {
	width: 300px;
	height: 300px;
	float: right;	
}

.login_area_right_text {
	width: 280px;
	height: 100px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

/*登陆页完*/

/*注册页*/
.reg_title {
	width: 900px;
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_reg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.reg_area {
	width: 900px;
	height: 400px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.reg_area_left {
	width: 590px;
	height: 380px;
	float: left;
	border-right: #e6e6e6 1px solid;
}

.reg_area_commonbar {
	width: 590px;
	height: 31px;
	margin-top: 10px;
}

.reg_area_commonbar_text {
	width: 60px;
	height: 31px;
	line-height: 31px;
	float: left;
	text-align: right;
	font-size: 14px;
	margin-right: 10px;
}

.reg_area_commonbar_formelement {
	width: 500px;
	height: 31px;
	line-height: 31px;
	float: left;
	text-align: left;
}


.inner_reg_agreeservice_checkbox {
	width: 22px;
	height: 25px;
	text-align: left;
	float: left;
}

.inner_reg_agreeservice_text {
	width: 300px;
	height: 25px;
	line-height: 16px;
	text-align: left;
	float: left;
}

.reg_area_highbar {
	width: 590px;
	height: 100px;
	margin-top: 10px;
}

.reg_area_highbar_text {
	width: 60px;
	height: 100px;
	line-height: 100px;
	float: left;
	text-align: right;
	font-size: 14px;
	margin-right: 10px;
}

.reg_area_highbar_formelement {
	width: 500px;
	height: 100px;
	float: left;
	text-align: left;
}

.inner_reg_regbtn {
	width: 100px;
	height: 27px;
	background:transparent url(../img/btn_reg.gif) no-repeat;
	border: none;
}

.protocol {
	width: 480px;
	height: 90px;
	line-height: 18px;
	overflow-y:scroll;
	border:1px solid #BBBBBB;
}

.reg_area_right {
	width: 300px;
	height: 380px;
	float: right;	
}

.reg_area_right_text {
	width: 280px;
	height: 100px;
	line-height: 20px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

/*登陆页完*/

/*找回密码*/
.getpassword_title {
	width: 900px;
	height: 80px;
	line-height: 80px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_getpassword.png);
	background-repeat: no-repeat;
	background-position: left center;	
}

/*资讯*/
.news_title {
	width: 900px;
	height: 80px;
	line-height: 80px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_news.png);
	background-repeat: no-repeat;
	background-position: left center;	
}

.news_index_line {
	width: 690px;
	height: 30px;
	border-bottom: 1px dashed #e6e6e6;
	overflow: auto;
}

.news_icon {
	width: 150px;
	height: 180px;
	float: left;
}

.news_icon img {
	margin-top: 6px;
}

.news_content {
	width: 690px;
	float: right;
	overflow: auto
}

.news_content_short {
	width: 540px;
	float: right;
	overflow: auto
}

.news_line {
	width: 690px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
	border-bottom: 1px dashed #e6e6e6;
	overflow: hidden;
}

.news_line_short {
	width: 540px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
	border-bottom: 1px dashed #e6e6e6;
	overflow: hidden;
}

.news_time {
	color: #b1b1b1;
	font-size: 10px;
	margin-left: 10px;
}

.inner_content_news_title {
	width: 690px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 18px;
	color: #000;
}

.inner_content_news_parameter {
	width: 690px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #666666;	
}

.inner_content_news_body {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	line-height: 25px;
	font-size: 14px;
	text-align: left;
	color: #000;
}

/*活动页*/
.activity_title {
	width: 900px;
	height: 80px;
	line-height: 80px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_activity.png);
	background-repeat: no-repeat;
	background-position: left center;
	position:relative;
}

.add_activity_block {
	width: 150px;
	height: 30px;
	line-height: 30px;
	margin-top: 25px;
	text-align: center;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 14px;
	border: 1px solid #e6e6e6;
	background-color: #f7f7f7;
	background-image: url(../img/icon_add.png);
	background-repeat: no-repeat;
	background-position: 18px center;	
	position:absolute;
	top:0;
	right:0
}

.add_activity_block A {
	color: #666666;
}

.activity_main_icon {
	width: 150px;
	height: 180px;
	float: left;
}

.activity_main_icon img {
	margin-top: 6px;
}

.activity_main_content {
	width: 540px;
	float: right;	
	overflow: auto;
}

.activity_main_title {
	width: 540px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.activity_main_detail {
	WIDTH: 540px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.activity_main_detailmutiline {
	WIDTH: 540px;
	HEIGHT: 45px;
	line-height: 22px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
}

.activity_main_links {
	WIDTH: 540px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
}

.activity_main_links A{
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.activity_main_links A:link {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.activity_main_links A:visited {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.activity_main_links A:hover {
	color: #FFF;
	background-color: #4481a2;
	TEXT-DECORATION: none;
}

.activity_main_links A:active {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.activity_review {
	width: 690px;
	height: 160px;
}

.activity_review_block {
	width: 138px;
	height: 160px;
	float: left;
}

.activity_review_icon {
	width: 138px;
	height: 140px;
}

.activity_review_icon img {
	margin-top: 5px;
}
.activity_review_title {
	width: 138px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.inner_content_left_activitydetailabstract {
	width: 690px;
	margin-top: 25px;
	margin-bottom: 5px;
	overflow: auto;	
}

.activity_detail_icon {
	width: 200px;
	height: 200px;
	float: left;
}

.activity_detail_icon img {
	margin-top: 6px;
}

.activity_detail_abstract {
	width: 490px;
	float: right;	
	overflow: auto;
}

.activity_detail_item {
	WIDTH: 490px;
	line-height: 28px;
	text-align: left;
	font-size: 14px;
}

.activity_detail_status {
	WIDTH: 490px;
	HEIGHT: 40px;
	line-height: 40px;
	text-align: left;
	color: #b1b1b1;
}

.activity_detail_actions {
	WIDTH: 490px;
	HEIGHT: 40px;
	text-align: left;
}

.activity_detail_action_baoming {
	width: 130px;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	text-align: center;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 14px;
	float: left;
	border: 1px solid #e6e6e6;
	background-color: #f7f7f7;
	background-image: url(../img/icon_ibaoming.png);
	background-repeat: no-repeat;
	background-position: 18px center;	
}

.activity_detail_action_baoming A {
	color: #666666;	
}

.activity_detail_action_comment {
	width: 130px;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: center;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 14px;
	float: left;
	border: 1px solid #e6e6e6;
	background-color: #f7f7f7;
	background-image: url(../img/icon_icomment.png);
	background-repeat: no-repeat;
	background-position: 18px center;	
}

.activity_detail_action_comment A {
	color: #666666;	
}

.activity_baoming_user_iconblock {
	width: 115px;
	height: 100px;
	float: left;
}

.activity_baoming_user_icon {
	width: 115px;
	height: 55px;
	text-align: center;
}

.activity_baoming_user_text {
	width: 115px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}

.activity_photo_block {
	width: 138px;
	height: 100px;
	float: left;
	text-align: center;
}

.activity_photo_block img{
	border: 1px solid #e6e6e6;
}

.activity_comment_line {
	width: 690px;
	border-bottom: 1px dashed #e6e6e6;
	overflow: auto;
}

.activity_comment_icon {
	width: 70px;
	height: 80px;
	float: left;
}

.activity_comment_icon img {
	margin-top: 6px;
}

.activity_comment_text {
	width: 620px;
	line-height: 25px;
	float: right;
	font-size: 12px;
}

.activity_comment_time {
	color: #b1b1b1;
}

.activity_right_changguan {
	width: 255px;
	line-height: 23px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.activity_right_changguan img {
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 6px;
	margin-bottom: 5px;
}

.activity_right_map {
	width: 255px;
}

.activity_right_activity {
	width: 255px;
	height: 255px;
	overflow: hidden;
}

.activity_right_activity_item {
	width: 255px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*场地*/
.court_title {
	width: 900px;
	height: 80px;
	line-height: 80px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_court.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.court_main_icon {
	width: 150px;
	height: 180px;
	float: left;
}

.court_main_icon img {
	margin-top: 6px;
}

.court_main_content {
	width: 540px;
	float: right;
	overflow: auto;
}

.court_main_title {
	width: 540px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	font-size: 14px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.court_main_detail {
	WIDTH: 540px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.court_main_links {
	WIDTH: 540px;
	HEIGHT: 22px;
	line-height: 22px;
	text-align: left;
}

.court_main_links A{
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.court_main_links A:link {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.court_main_links A:visited {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.court_main_links A:hover {
	color: #FFF;
	background-color: #4481a2;
	TEXT-DECORATION: none;
}

.court_main_links A:active {
	color: #b1b1b1;
	TEXT-DECORATION: none;
}

.inner_content_left_courtdetailabstract {
	width: 690px;
	margin-top: 25px;
	margin-bottom: 5px;
	overflow: auto;	
}

.court_detail_icon {
	width: 200px;
	height: 200px;
	float: left;
}

.court_detail_icon img {
	margin-top: 6px;
}

.court_detail_abstract {
	width: 490px;
	float: right;	
	overflow: auto;
}

.court_detail_item {
	WIDTH: 490px;
	line-height: 28px;
	text-align: left;
	font-size: 14px;
}

.court_detail_actions {
	WIDTH: 490px;
	HEIGHT: 40px;
	text-align: left;
}

.court_detail_status {
	WIDTH: 490px;
	HEIGHT: 40px;
	line-height: 40px;
	text-align: left;
	color: #b1b1b1;
}

.court_detail_action_comment {
	width: 130px;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: center;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 14px;
	float: left;
	border: 1px solid #e6e6e6;
	background-color: #f7f7f7;
	background-image: url(../img/icon_icomment.png);
	background-repeat: no-repeat;
	background-position: 18px center;	
}

.court_detail_action_comment A {
	color: #666666;	
}

.court_photo_block {
	width: 138px;
	height: 100px;
	float: left;
	text-align: center;
}

.court_photo_block img{
	border: 1px solid #e6e6e6;
}

.court_comment_line {
	width: 690px;
	border-bottom: 1px dashed #e6e6e6;
	overflow: auto;
}

.court_comment_icon {
	width: 70px;
	height: 80px;
	float: left;
}

.court_comment_text {
	width: 620px;
	line-height: 25px;
	float: right;
	font-size: 12px;
}

/*个人中心*/
.uc_title {
	width: 900px;
	height: 80px;
	line-height: 80px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 20px;
	background-image: url(../img/icon32_uc.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.uc_userbasicinfo {
	width: 690px;
	height: 180px;
}

.uc_user_icon {
	width: 150px;
	height: 150px;
	float: left;
}

.uc_user_icon img {
	margin-top: 6px;
}

.uc_user_info {
	width: 520px;
	float: right;
	overflow: auto
}

.uc_user_info_name {
	width: 520px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}

dl,dt,dd{margin:0;padding:0;text-align:left}


dl.userInfo dt{
	line-height: 40px;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}
dl.userInfo dd{line-height:20px;height:20px;padding-left:5em;position:relative}

dl.userInfo span.title{
	position:absolute;
	margin-left:-5em;
	display:block;
}

.uc_user_info_text {
	width: 520px;
	height: 22px;
	line-height: 22px;
	text-align: left;
}

.uc_user_info_menubar {
	width: 690px;
	height: 40px;
}

.uc_user_info_menuidx1_on {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	border-left: #e3e3e3 1px solid;
	border-top: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	background-color: #ffffff;	
}

.uc_user_info_menuidx1_on A{
	color: #666666;
	text-decoration: none;
}

.uc_user_info_menuidx1_off{
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	border-left: #e3e3e3 1px solid;
	border-top: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	border-bottom: #e3e3e3 1px solid;
	background-color: #ececec;
}

.uc_user_info_menuidx1_off A{
	color: #666666;
	text-decoration: none;
}

.uc_user_info_menuidx1_highlight {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	border-left: #e3e3e3 1px solid;
	border-top: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	border-bottom: #e3e3e3 1px solid;
	background-color: #f3f3f3;
}

.uc_user_info_menuidx1_highlight A{
	color: #666666;
	text-decoration: none;
}

.uc_user_info_menu_on {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	border-top: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	background-color: #ffffff;	
}

.uc_user_info_menu_on A{
	color: #666666;
	text-decoration: none;
}

.uc_user_info_menu_off {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	border-top: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	border-bottom: #e3e3e3 1px solid;
	background-color: #ececec;	
}

.uc_user_info_menu_off A{
	color: #666666;
	text-decoration: none;
}

.uc_user_info_menu_highlight {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	border-top: #e3e3e3 1px solid;
	border-right: #e3e3e3 1px solid;
	border-bottom: #e3e3e3 1px solid;
	background-color: #f9f9f9;
}

.uc_user_info_menu_highlight A{
	color: #666666;
	text-decoration: none;
}

.uc_line {
	width: 690px;
	height: 30px;
	text-align: left;
	border-bottom: 1px dashed #e6e6e6;
	overflow: hidden;
}

.uc_linenodash {
	width: 690px;
	height: 30px;
	text-align: left;
	overflow: hidden;
}

.uc_linenodash_noheightcontrol {
	width: 690px;
	text-align: left;
	overflow: auto;
}

.uc_line_title {
	width: 580px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	float: left;
}

.uc_line_title A {
	color: #666666;
}

.uc_line_action {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	float: right;
}

.uc_commentline {
	width: 690px;
	text-align: left;
	border-bottom: 1px dashed #e6e6e6;
	overflow: auto;
}

.uc_commentline_title {
	width: 690px;
	height: 30px;
	line-height: 30px;
	text-align: left;
}

.uc_commentline_title A {
	color: #666666;
}

.uc_commentline_comment {
	width: 690px;
	text-align: left;
	background-color: #fbfbfb;
	overflow: auto;
}

.uc_commentline_comment_text {
	width: 650px;
	line-height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;
	border: 1px dashed #e6e6e6;
}

.uc_content_sepa {
	width: 690px;
	height: 10px;
}

.uc_user_setupmenubar {
	width: 690px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

.uc_user_setupmenubar A {
	color: #666666;
}

/*短消息*/
.uc_msgmenu_block {
	width: 100px;
	height: 350px;
	float: left;
	background-color: #ececec;
	overflow: hidden;
}

.uc_msgmenu_on {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: #e3e3e3 1px solid;
	background-color: #FFFFFF;
}

.uc_msgmenu_on A {
	color: #666666;
}

.uc_msgmenu_off {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: #e3e3e3 1px solid;
	background-color: #ececec;
}

.uc_msgmenu_off A {
	color: #666666;
}

.uc_msgmenu_fill {
	width: 99px;
	height: 1000px;
	background-color: #FFFFFF;
}

.uc_msgcontent_block {
	width: 590px;
	height: 350px;
	float: right;
}

.uc_msgcontent_line {
	width: 560px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #e6e6e6;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.uc_msgcontent_line_nodash {
	width: 560px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.uc_msgcontent_line_noheightcontrol {
	width: 560px;
	line-height: 30px;
	border-bottom: 1px dashed #e6e6e6;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.uc_msgcontent_line_noheightcontrol_nodash {
	width: 560px;
	line-height: 30px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.uc_msgcontent_line_action {
	width: 560px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.uc_msgcontent_title {
	width: 360px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.uc_msgcontent_title A {
	color: #666666;
}

.uc_msgcontent_user {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.uc_msgcontent_time {
	width: 120px;
	height: 30px;
	line-height: 30px;
	float: left;
	color: #b1b1b1;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.uc_msgcontent_content {
	width: 560px;
	height: 220px;
	line-height: 25px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.uc_msgcontent_formtext {
	width: 40px;
	height: 30px;
	line-height: 30px;
	float: left;
}

.uc_msgcontent_formelement {
	width: 520px;
	height: 30px;
	line-height: 30px;
	float: left;
}

.uc_msgcontent_formelement_textarea {
	width: 520px;
	height: 240px;
	float: left;
	background-color : #000
	overflow: hidden
}

.msg_input_s1 {
	WIDTH: 500px;
	height: 20px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BACKGROUND-COLOR: #FFF;
	BORDER: #bbbbbb 1px solid;
	outline:none;
	margin-top: 2px;
}

.msg_textarea_s1 {
	WIDTH: 500px;
	height: 230px;
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #b1b1b1;
	BORDER: #bbbbbb 1px solid;
	outline:none;
}

/*右侧*/
.inner_content_right_feedbar {
	width: 255px;
	height: 30px;
	line-height: 30px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon_feed.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.inner_content_right_commentbar {
	width: 255px;
	height: 30px;
	line-height: 30px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon_comment.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.inner_content_right_changguanbar {
	width: 255px;
	height: 30px;
	line-height: 30px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon24_changguan.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;

}

.inner_content_right_mapbar {
	width: 255px;
	height: 30px;
	line-height: 30px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon24_map.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.inner_content_right_activitybar {
	width: 255px;
	height: 30px;
	line-height: 30px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon24_activity.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.inner_content_right_pingfenbar {
	width: 255px;
	height: 30px;
	line-height: 30px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon24_star.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;
}

.inner_content_right_pingfen {
	width: 255px;
	height: 80px;
}

.inner_content_right_pingfen_starandscore {
	width: 200px;
	height: 40px;
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.inner_content_right_pingfen_star {
	width: 
}

.inner_content_right_pingfen_star {
	width: 
}

.inner_content_right_comment {
	width: 255px;
}

.inner_content_right_commentline {
	width: 255px;
	height: 80px;
}

.inner_content_right_commentline_icon {
	width: 70px;
	height: 80px;
	float: left;
}

.inner_content_right_commentline_icon img {
	margin-top: 6px;
}

.inner_content_right_commentline_text {
	width: 185px;
	height: 80px;
	float: left;
	text-align: left;
	line-height: 24px;
	overflow: hidden;
}

.inner_content_right_commentline_time {
	color: #b1b1b1;
}

.inner_content_right_thumbnail {
	width: 150px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}

.inner_content_right_visitorsbar {
	width: 255px;
	height: 30px;
	line-height: 30px;
	border-bottom: #e3e3e3 1px solid;
	background-image: url(../img/icon24_visitors.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	FONT-FAMILY: 微软雅黑, 幼圆;
	font-size: 16px;
	color: #000;	
}

.inner_content_right_visitors {
	width: 255px;
	overflow: auto;
	margin-top: 10px;
}

.inner_content_right_visitors_block {
	width: 85px;
	height: 100px;
	float: left;
}

.inner_content_right_visitors_block_icon {
	width: 85px;
	height: 55px;
}

.inner_content_right_visitors_block_text {
	width: 85px;
	height: 18px;
	line-height: 18px;
}

.inner_content_right_visitors_block_text A {
	COLOR: #666666; 
}

.inner_content_right_visitors_block_time {
	width: 85px;
	height: 18px;
	line-height: 18px;
	color: #b1b1b1;
}